body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
}

.container{
    background-color: lightpink;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 4px 8px;
}
.textarea{
    resize: none;
    
}


