body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: salmon;
}

.container{
    background-color: lightpink;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 4px 8px;
}
.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    border: solid 2px darkgray;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.counter-container p{
    font-size: 18px;
    color: grey;
}

.total-counter{
    color: rgb(113, 90, 205);
}

.remaining-counter{
    color:rgb(255, 111, 0);
}


